body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(img/farm_smart.jpg);
}
.container {
  max-width: 600px;
  margin: 2% auto;
  padding: 20px;
  background: rgb(80, 105, 80);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
h1 {
  color: blue;
}
.sensor-data {
  font-size: 20px;
  margin: 10px 0;
}
.pump-control button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.on {
  background-color: #2ecc71;
  color: white;
}
.off {
  background-color: #e74c3c;
  color: white;
}
